.fs-26 {font-size: 26px;}
.p-t-26 {padding-top: 26px;}
.p-b-26 {padding-bottom: 26px;}
.p-l-26 {padding-left: 26px;}
.p-r-26 {padding-right: 26px;}
.m-t-26 {margin-top: 26px;}
.m-b-26 {margin-bottom: 26px;}
.m-l-26 {margin-left: 26px;}
.m-r-26 {margin-right: 26px;}
.fs-48 {font-size: 48px;}
.p-t-48 {padding-top: 48px;}
.p-b-48 {padding-bottom: 48px;}
.p-l-48 {padding-left: 48px;}
.p-r-48 {padding-right: 48px;}
.m-t-48 {margin-top: 48px;}
.m-b-48 {margin-bottom: 48px;}
.m-l-48 {margin-left: 48px;}
.m-r-48 {margin-right: 48px;}
.fs-115 {font-size: 115px;}
.p-t-115 {padding-top: 115px;}
.p-b-115 {padding-bottom: 115px;}
.p-l-115 {padding-left: 115px;}
.p-r-115 {padding-right: 115px;}
.m-t-115 {margin-top: 115px;}
.m-b-115 {margin-bottom: 115px;}
.m-l-115 {margin-left: 115px;}
.m-r-115 {margin-right: 115px;}